<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>修改密码</title>
<link href="../../css/bootstrap.css" rel="stylesheet">
<link href="../../css/tether.css" rel="stylesheet" />
<link href="change_password.css" rel="stylesheet">
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/tether.js"></script>
<script type="text/javascript" src="../../js/bootstrap.js"></script>
<script type="text/javascript" src="../../js/dialog.js"></script>
<script type="text/javascript" src="changePassword.js"></script>
</head>

<body>
	<div id="right">
		<div id="right-heading">
			<p id="right-heading-title">修改密码</p>
			<div id="right-head-nav">
				<p id="nav-bread-title">当前位置</p>
				<ol>
					<li><a href="#" class="breadcrumb-item">用户操作/</a></li>
					<li><a class="breadcrumb-item active">修改密码</a></li>
				</ol>
			</div>
		</div>

		<div id="change_pwd">
			<table class="table table-bordered">
				<thead>
					<th class="table-title" colspan="2">修改密码</th>
				</thead>
				<tr>
					<td>当前密码</td>
					<td>
					<input type="password" id="pwd_old" name="pwd_old" onblur="user()"> 
					<span id="span_old_password" style="color: orangered; font-weight: bold;">&nbsp;*</span>
					</td>
				</tr>
				<tr>
					<td>新的密码</td>
					<td><input type="password" id="pwd_new1" name="pwd_new1"
						onblur="checkPassword()"> <span id="span_new1_password"
						style="color: orangered; font-weight: bold;">&nbsp;*至少包含字母和数字，6~12位字符</span>
					</td>
				</tr>
				<tr>
					<td>确认密码</td>
					<td><input type="password" id="pwd_new2" name="pwd_new2"
						onblur="isEqualPwd()"> <span id="span_confirm_password"
						style="color: orangered; font-weight: bold;">&nbsp;*</span></td>
				</tr>
			</table>
			<input id="update_pwd" type="button" value="提交" onclick="update()" class="btn btn-primary" >

		</div>
		
	</div>


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">提示</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">修改密码成功！</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
				</div>
			</div>
		</div>
	</div>

</body>



</html>