<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>查看已冻结账户</title>
		<link href="../../css/bootstrap.css" rel="stylesheet">
		<link href="../../css/tether.css" rel="stylesheet" />
		<link href="look_personinfo.css" rel="stylesheet">
	</head>

	<body>
		<div id="right">
        <div id="right-heading">
            <p id="right-heading-title">查看个人信息</p>
            <div id="right-head-nav">
                <p id="nav-bread-title">当前位置</p>
                <ol>
                    <li><a href="#" class="breadcrumb-item">用户操作/</a></li>
                    <li><a class="breadcrumb-item active">查看个人信息</a></li>
                </ol>
            </div>
        </div>

        <div id="person_info">
				<table class="table table-bordered">
					<thead>
						<th class="table-title" colspan="2">查看个人信息</th>
					</thead>
					<tr>
						<td>姓名</td>
						<td  id="name">XXX</td>
					</tr>
					<tr>
						<td>出生日期</td>
						<td id="birthday">2013-03-02</td>
					</tr>
					<tr>
						<td>性别</td>
						<td id="sex">男</td>
					</tr>
					<tr>
						<td>家庭地址</td>
						<td id="address">重庆市南岸区重庆交通大学</td>
					</tr>
					<tr>
						<td>手机号码</td>
						<td id="phone">12345678910</td>
					</tr>
					<tr>
						<td>身份证号</td>
						<td id="idcard">30098719983879876</td>
					</tr>
				</table>
			</div>
    </div>

	</body>
	<script type="text/javascript" src="../../js/jquery.js"></script>
	<script type="text/javascript" src="../../js/tether.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.js"></script>
	<script type="text/javascript" src="../../js/dialog.js"></script>
	<script type="text/javascript" src="look_personinfo.js"></script>
	
</html>