<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻管理</title>
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="../../css/tether.css" rel="stylesheet"/>
    <link href="watch_news.css" rel="stylesheet">
</head>
<body>
<!--顶部导航-->
<div id="header">
    <img id="logo" src="../../img/logo.jpg">
    <div id="heading">
        <p class="h1">互联网+个人资金管理体系</p>
    </div>
</div>
<!--主内容面板-->
<div id="main">
    <!--左部导航-->
    <div id="left">
        <div id="news">
            <div class="left-heading">
                <p>新   闻</p>
            </div>
            <div id="news-list">
                <ul class="list-group">
                    <li class="list-group-item"><div><div style="float: left;font-size: large;text-align: center">新闻标题</div>
                        <div style=";font-size: small;margin-left: 100px;margin-top: 8px">2017.6.28</div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;摘要在于有有有
                        有有有王爷网页......<a href="#" style="margin-left: 50px">详情</a></p></div> </li>
                    <li class="list-group-item"><div><div style="float: left;font-size: large;text-align: center">新闻标题</div>
                        <div style=";font-size: small;margin-left: 100px;margin-top: 8px">2017.6.28</div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;摘要在于有有有
                            有有有王爷网页......<a href="#" style="margin-left: 50px">详情</a></p></div> </li>
                    <li class="list-group-item"><div><div style="float: left;font-size: large;text-align: center">新闻标题</div>
                        <div style=";font-size: small;margin-left: 100px;margin-top: 8px">2017.6.28</div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;摘要在于有有有
                            有有有王爷网页......<a href="#" style="margin-left: 50px">详情</a></p></div> </li>
                    <li class="list-group-item"><div><div style="float: left;font-size: large;text-align: center">新闻标题</div>
                        <div style=";font-size: small;margin-left: 100px;margin-top: 8px">2017.6.28</div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;摘要在于有有有
                            有有有王爷网页......<a href="#" style="margin-left: 50px">详情</a></p></div> </li>
                    <li class="list-group-item"><div><div style="float: left;font-size: large;text-align: center">新闻标题</div>
                        <div style=";font-size: small;margin-left: 100px;margin-top: 8px">2017.6.28</div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;摘要在于有有有
                            有有有王爷网页......<a href="#" style="margin-left: 50px">详情</a></p></div> </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="right">
        <div id="right-heading">
            <p id="right-heading-title">新闻</p>
            <div id="right-head-nav">
                <p id="nav-bread-title">当前位置</p>
                <ol>
                    <li><a href="#" class="breadcrumb-item">新闻/</a></li>
                    <li><a class="breadcrumb-item active">查看新闻</a></li>
                </ol>
            </div>
        </div>
        <div id="news-table-container">
            <div style="text-align: center;font-size: xx-large;">新闻标题</div>
            <hr><p style="text-align: center">2017年6月27日</p>
            <div style="width: auto;height: auto">4.2.2.4 取款
                【用例功能说明】
                用户在此界面进行取款，同时短信通知用户，进入新闻界面
                【操作描述】
                取款时间：输入框-只读自动获取时间
                取款金额：输入框-输入取款金额
                取款：按钮-对取款信息进行提交
                详细：链接-查看新闻的详细信息。
                导航：链接-进行页面切换。
                4.2.2.4 取款
                【用例功能说明】
                用户在此界面进行取款，同时短信通知用户，进入新闻界面
                【操作描述】
                取款时间：输入框-只读自动获取时间
                取款金额：输入框-输入取款金额
                取款：按钮-对取款信息进行提交
                详细：链接-查看新闻的详细信息。
                导航：链接-进行页面切换。
                4.2.2.4 取款
                【用例功能说明】
                用户在此界面进行取款，同时短信通知用户，进入新闻界面
                【操作描述】
                取款时间：输入框-只读自动获取时间
                取款金额：输入框-输入取款金额
                取款：按钮-对取款信息进行提交
                详细：链接-查看新闻的详细信息。
                导航：链接-进行页面切换。
                4.2.2.4 取款
                【用例功能说明】
                用户在此界面进行取款，同时短信通知用户，进入新闻界面
                【操作描述】
                取款时间：输入框-只读自动获取时间
                取款金额：输入框-输入取款金额
                取款：按钮-对取款信息进行提交
                详细：链接-查看新闻的详细信息。
                导航：链接-进行页面切换。
            </div>
        </div>

    </div>
</div>

<div id="foot">
    <footer>
        <p>版权所有 TEAM5</p>
    </footer>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                删除处理中，请稍后...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/tether.js"></script>
<script type="text/javascript" src="../../js/bootstrap.js"></script>
<script type="text/javascript" src="controller.js"></script>
<script type="text/javascript" src="../../js/dialog.js"></script>
</html>