<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>存款</title>
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="../../css/tether.css" rel="stylesheet"/>
    <link href="diposit_money.css" rel="stylesheet">
</head>
<body>
<!--顶部导航-->
<div id="header">
    <img id="logo" src="../../img/logo.jpg">
    <div id="heading">
        <p class="h1">互联网+个人资金管理体系</p>
    </div>
</div>
<!--主内容面板-->
<div id="main">
    <!--左部导航-->
    <div id="left">
        <div id="news">
            <div class="left-heading">
                <p>新   闻</p>
            </div>
            <div id="news-list">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">中软历害了</a> </li>
                    <li class="list-group-item"><a href="#">唐玉厉害了</a></li>
                    <li class="list-group-item"><a href="#">100婚100婚</a></li>
                    <li class="list-group-item"><a href="#">看一点有用的吧</a></li>
                </ul>
            </div>
        </div>
        <div id="nav">
            <div class="left-heading">
                <p>操作菜单</p>
            </div>
            <div id="left-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-item">
                        <a href="#"  class="nav-link ">查询交易记录</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active">存款</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">取款</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">转账</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">查看个人信息</a>
                    </li>
                    <li class="nav-item">
                        <a href="#"  class="nav-link ">修改个人信息</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="firm()">修改密码</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="firm()">注销</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="right">
        <div id="right-heading">
            <p id="right-heading-title">存款</p>
            <div id="right-head-nav">
                <p id="nav-bread-title">当前位置</p>
                <ol>
                    <li><a href="#" class="breadcrumb-item">用户操作/</a></li>
                    <li><a class="breadcrumb-item active">存款</a></li>
                </ol>
            </div>
        </div>

        <div id="news-table-container">
            <table class="info-table">
                <tr><td id="single-table">存&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;款</td></tr>
            </table>
            <table class="info-table">
                <tr  class="info-tr">
                    <td class="info-th">存款时间</td>
                    <td class="news-index">2017-06-28 19：31：42</td>
                </tr>
                <tr>
                    <td class="info-th">存款金额</td>
                    <td class="news-index"><input name="money" class="transfer-input"></td>
                </tr>
            </table>
            <button id="submit-transfer" name="transfer">&nbsp;&nbsp;存&nbsp;&nbsp;&nbsp;&nbsp;款&nbsp;&nbsp;</button>
        </div>

    </div>
</div>

<div id="foot">
    <footer>
        <p>版权所有 TEAM5</p>
    </footer>
</div>



</body>
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/tether.js"></script>
<script type="text/javascript" src="../../js/bootstrap.js"></script>
<script type="text/javascript" src="controller.js"></script>
<script type="text/javascript" src="../../js/dialog.js"></script>
</html>