body {
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
    padding: 0px;
}
#header {
    height: 100px;
    background-color: darkslateblue;
    color: white;
}
#header img {
    height: 80px;
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    float: left;
}
#header P {
    line-height: 100px;
}
#main {
    width: 100%;
    height: 600px;
    display: block;
}
#left {
    width: 15%;
    float: left;
}
#left-heading {
    display: block;
    height: 40px;
    background-color: gray;
    color: white;
}
#left-heading P {
    line-height: 40px;
    font-size: 18px;
    padding-left: 17px;
}
#left-nav {
    display: block;
}
#left-nav ul {
    display: block;
}
#left-nav ul li {
    width: 100%;
    display: block;
    float: left;
}
#right {
    float: right;
    height: 500px;
    width: 85%;
    z-index: -1;
}
#right-heading {
    line-height: 40px;
    display: block;
    height: 40px;
    background-color: #cccccc;
    color: darkslategray;
}

#right-heading-title {
    display: block;
    float: left;
    color: orangered;
    font-size: 18px;
    margin-left: 20px;
}
#right-heading p {
    display: block;
    float: left;
}
#nav-bread-title {
    color: black;
}
#right-head-nav {
    display: block;
    float: right;
    margin-right: 20px;
}
#right-head-nav ol {
    display: block;
    float: left;
    margin-left: -28px;
}
#right-head-nav ol li {
    display: block;
    margin-left: 10px;
    float: left;
}
#news-table-container {
    margin-top: 10px;
    margin-left: 90px;
}
#news-title {
    width: 900px;
}
#news-abstract {
    width: 900px;
    height: 80px;
    text-align: left;
}
#news-content {
    width: 900px;
    height: 150px;
    text-align: left;
}
footer {
    background-color: #4b5257;
    color: white;
    height: 100px;
    line-height: 100px;
    text-align: center;
}